 <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<div class="container">
  <div class="row">
	<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
 
 
 <% if current_user.errors.any? %>
 <strong><%= current_user.errors.count %>errors prohibited this obj from being saved:</strong>
  <ul>
    <% current_user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
 
 <h2>User info</h2>

<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<div class="mb-3">
	 <div class="form-group">
	<label>Name</label>
	<tr><%= f.text_field :name, class: "col-12 name" %></tr>
</div></div>

<div class="mb-3">
	 <div class="form-group">
	<label>Image</label>
	<%= f.file_field :profile_image, class: "image" %>
</div></div>

<div class="mb-3">
	 <div class="form-group">
		<label>Introduction</label>
	<%= f.text_area :introduction, class: "col-12 introduction" %>
</div></div>

<div class="actions">
	<%= f.submit class: "btn btn-secondary" %>
</div>

<% end %>
</div>
</div>
</div>