 <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <div class="container px-5 px-sm-0">
 <div class ="row">
     
  <div class="col-md-3">
    <h2>User info</h2>
     <%= render 'users/userprofile', user: current_user %>
    <h2><strong>New book</strong></h2>
     <%= render 'books/newbook', book: @book %>
  </div>

   <div class="col-md-8 offset-md-1">
      <table class="table user-index">
      <thead>
      <h2>Users</h2>
    <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
   </tr>
  <tr>
      <% @users.each do |user| %>
     <td><p><%= image_tag user.get_profile_image(100,100) %></p></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user.id) %></td>
     </tr>
     <% end %>
    </thead>
      </table>
     </div>
     
 </div>
 </div>