<% if @book.errors.any? %>
 <strong><%= @book.errors.count %>errors prohibited this obj from being saved:</strong>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  
<h1><strong>Editing Book</strong></h1>
 
<%= form_with model: @book,url: book_path(@book.id), method: :patch do |f|%>

<div class="field">
	<%= f.label :title %>
	<%= f.text_field :title, class: "title" %>
</div>

<div class="field">
	<%= f.label :Opinion %>
	<%= f.text_field :body, class: "body" %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>

 <%= link_to "Show", book_path %>
 |
 <p><a href="/books">Back</a></p>
