  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
 
   <% if @book.errors.any? %>
 <strong><%= @book.errors.count %>errors prohibited this obj from being saved:</strong>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container  px-5 px-sm-0">
 <div class ="row">
 <div class="col-3">
  
 

 <h1>User info</h1>
<%= render 'users/userprofile', user: current_user %>


 <h3><strong>New book</strong></h3>
<%= render 'books/newbook', book: @book %>
</div>

<div class="col-md-8 offset-md-1">

<table class="table book-index">
 <thead>
<h2>Books</h2>
  <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
   <th colspan="3"></th>
  </tr>
  <tr>
   <% @books.each do |book| %>
   <td><p><%= image_tag book.user.get_profile_image(80,80) %></p></td>
   <td><%=link_to book.title,book %></td>
   <td><%= book.body %></td>
  </tr>
  <% end %>
 </thead>
</table>
</div>
</div>
</div>

