<meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
 <div class="container">
 <div class ="row">
 <div class="col-md-4">
 <%= flash[:created] %>
  <%= flash[:non] %>
<h1>User info</h1>
<%= render 'users/userprofile', user: current_user %>


 <h3><strong>New book</strong></h3>
<%= render 'books/newbook', book: @book %>
</div>

<div class="col-md-8">
<table class="table book-show"> 
    
<tr><h2>Book detail</h2></tr>

  <tr class="book1">
      <th><p><%= image_tag @user.get_profile_image(80,80) %></p>
      <%=link_to @user.name,user_path %></th>
    <th><%= @book.title %></th>
    <th><%= @book.body %></th>
    <% if @book.user == current_user %>
    <th><%= link_to "Edit", edit_book_path,class:"bbtn btn-success btn-sm " %></th>
    <th><%= link_to "Destroy", book_path(@book.id),class:"bbtn btn-danger btn-sm ", method: :delete, "data-confirm" => "本当に消しますか？" %></th>
     <% end %>
  </tr>
  
</table>
</div>
</div>
</div>