<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csp_meta_tag %><%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

        <nav class="nav navbar-nav navbar-left p-2">
          <span><a href =/>Bookers</a></span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-nav navbar-right p-2">
            <% if user_signed_in? %>
            <li class="nav-item mr-3"><%= link_to user_path(current_user), class: "text-light", method: :get do%>
            <i class="fas fa-home"></i>Home</li><% end %>

             <li class="nav-item mr-3"><%= link_to users_path, class: "text-light", method: :get do%>
            <i class="fas fa-users"></i>Users</li><% end %>
            
             <li class="nav-item mr-3"><%= link_to books_path, class: "text-light", method: :get do%>
            <i class="fas fa-book-open"></i>Books</li><% end %>
            
             <li class="nav-item mr-3"><%= link_to destroy_user_session_path, class: "text-light", method: :delete do%>
            <i class="fas fa-sign-out-alt"></i>Log out</li><% end %>
            
            <% else %>
            
             <li class="nav-item mr-3"><%= link_to root_path ,class: "text-light", method: :get do%>
             <i class="fas fa-home"></i>Home</li><% end %>
             
             <li class="nav-item mr-3"><%= link_to about_path,class: "text-light", method: :get do%>
             <i class="fas fa-link"></i>About</li><% end %>
             
             <li class="nav-item mr-3"><%= link_to new_user_registration_path ,class: "text-light", method: :get do%>
             <i class="fas fa-user-plus"></i>Sign up</li><% end %>
             
             <li class="nav-item mr-3"><%= link_to new_user_session_path ,class: "text-light", method: :get do%>
             <i class="fas fa-sign-in-alt"></i>Log in</li><% end %>
             
            <% end %>
          </ul>
        </nav>

      </div>
  </header>
    <div class="container">
    <div class ="row">
      <p id="notice"><%= notice %></p> 
      </div>
      </div>
    <%= yield %> 
    </body>
    
     <footer>
      <p class="text-center"> CopyRight Infratop.inc</p>
  </footer>
</html>
